/* =Content
-------------------------------------------------------------- */
img {
	height: auto;
	max-width: 100%;
}
hr {
    clear: both;
    height: 1px;
    border: none;
    outline: none;
    margin: 0.25em 0;
    background-color: #6D6D6D;
}