/* =Grid
----------------------------------------------- */

.shorts-row {
	@extend .shorts-clear;
	width: 100%;
	margin: 0 auto;
	[class*="shorts-col-"] {
		padding-left: 0;
		&:last-child {
			padding-right: 0;
		}
	}
}

/* Columns */
.shorts-col {
	margin: 0 -2px;
	vertical-align: top;
	display: inline-block;
	padding: $layout-padding ($layout-padding * 2);
	&-thin {
		padding: 0 $layout-padding;
	}
}
[class*="shorts-col-"] {
	@extend .shorts-col;
}
@for $i from 1 through 12 {
	.shorts-col-#{$i} {
		width: ((100 / 12) * $i) * 1%;
	}
}

/* Re-add padding */
.shorts-row-padding {
	[class*="shorts-col-"] {
		padding-left: $layout-padding * 2;
		&:last-child {
			padding-right: $layout-padding * 2;
		}
	}
}

/* Media Queries */
@media screen and (max-width: 60em) {

	[class*="shorts-col-"] {
		width: 100%;
		padding: $layout-padding;
	}
	@for $i from 1 through 12 {
		.shorts-md-#{$i} {
			width: ((100 / 12) * $i) * 1%;
		}
	}

}
@media screen and (max-width: 40em) {

	[class*="shorts-md-"] {
		width: 100%;
	}

}