/* =Admin Popup
-------------------------------------------------------------- */

/* Variables */
$color-red: #ff5959;
$color-blue: #21759B;
$color-grey: #505050;
$color-silver: #f5f5f5;
$color-white: #fff;

/* Main Styles */
#shorts-generate {
	height: 490px;
	max-width: 600px;
	margin: 5em auto;
	padding: 1.5em 2em;
	background-color: $color-white;
	position: relative;
	overflow: scroll;
	* {
		box-sizing: border-box;
	}

	/* Typography */
	.shorts-heading, 
	.shorts-title {
		font-size: 1.5rem;
		margin: 0 0 0.85em;
		padding: 0.25em;
		text-align: center;
	}
	.shorts-home {
		cursor: pointer;
		font-size: 1.25rem;
		position: absolute;
		left: 0;
		&:hover {
			color: $color-blue;
		}
	}
	.fa {
		padding: 0 1em 0;
	}

	/* Shortcode links */
	.shortcode {
		display: none;
	}
	.shortcode, 
	.shorts-links {
		opacity: 0;
		transition: all 0.2s ease;
		transform: translateX(-0.75em);
	}
	.shorts-link {
		margin: 0.4em 0.275em;
		padding: 0.5em;
		font-weight: bold;
		height: auto;
	}
	.shorts-insert {
		margin: 0.5em 0.3em;
		padding: 0.75em;
		font-weight: bold;
		height: auto;
	}

	/* Form */
	.shorts-fields {
		position: relative;
		margin-bottom: 1.5em;
	}
	.shorts-field-group {
		width: 100%;
		margin: 0 0 0.75em;
		position: relative;
	}
	.shorts-field {
		line-height: 1.4;
		color: $color-grey;
		width: 70%;
		margin: 0 -2px;
		padding: 0.3em 0.5em;
		display: inline-block;
		border-bottom: 1px solid darken($color-silver, 10%);
	}
	.select .shorts-field {
		border-bottom-color: transparent;
	}
	.shorts-label {
		width: 28%;
		margin: 0 2% 0 0;
	    padding: 0.7em 1em;
		font-size: 0.9em;
	    display: inline-block;
		background-color: $color-silver;
	    border-bottom: 1px solid darken($color-silver, 10%);
	}
	.shorts-input, .shorts-select {
		width: 100%;
		margin: 0;
		padding: 0.25em;
		border: 1px solid transparent;
		box-shadow: none;
	}
	.shorts-checkbox {
		margin: 0.45em;
	}
	.shorts-button {
		text-align: center;
		width: 47.5%;
		display: inline-block;
	}
	.shorts-clone {
		margin-bottom: 1em;
	}
	.shorts-insert {
	    width: 100%;
	    margin: 1.5em 0;
	}

	/* Sortable */
	.shorts-sortable .shorts-fields {
		&:before {
			color: lighten($color-grey, 10%);
			font-family: FontAwesome;
			position: absolute;
			content: "\f0c9";
			top: 0.15em;
			left: 0;
			width: 5px;
			z-index: 1;
			overflow: hidden;
		}
		.shorts-label {
			cursor: move;
		}
	}
	.shorts-remove {
		position: absolute;
		top: 0;
		left: 7.5%;
		width: 85%;
		opacity: 0;
		height: 2.5em;
		background-color: $color-red;
		border: 1px dashed darken($color-red, 20%);
		border-radius: 3px;
		transition: all 0.2s ease;
		&-hover {
			border-color: darken($color-red, 40%);
			background-color: darken($color-red, 20%);
		}
	}
	.shorts-gap {
		height: 2.75em;
		margin-bottom: 1.5em;
		background-color: $color-silver;
		border: 1px dashed darken($color-silver, 5%);
		border-radius: 3px;
	}

	/* Helpers */
	.shorts-visible {
		opacity: 1;
		transform: translateX(0);
	}
	.shorts-hidden {
		opacity: 0;
	}

	/* Select2 */
	.select2-container {
		.select2-selection {
			border-color: darken($color-silver, 10%);
		}
		.select2-selection--multiple {
			min-height: 28px;
			line-height: 0.75;
			.select2-search__field {
				margin: 0;
			}
			.select2-selection__rendered {
				padding: 1px 2px;
				line-height: 1.4;
			}
			.select2-search, .select2-selection__choice {
				margin: 2px;
			}
		}
	}

}

/* Magnific Styles */
.shorts-popup {
	overflow: hidden !important;
}